<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>New items</h1>
  <form action="/items" method="POST">

    item:<input type="text" name="name" /><br/>
    info:<input type="text" name="description" /><br/>
    Img:<input type="text" name="img" /><br/>
    Qty:<input type="number" name="qty" /><br/>
    <input type="submit" value="create Item">

  </form>

</body>

</html>
