<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Plant show page</h1>
      The <%=plant.name;%> <%=plant.info%>,
       You have <%=plant.qty%> ready for use.

  </body>
</html>
