<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Item show page</h1>
      The <%=item.name;%> <%=item.info%>,
       You have <%=item.qty%> ready for use.

  </body>
</html>
