<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    
  </head>
  <body>
    <h1>Join the club</h1>
    <form action="/users" method="POST">
            <label for="name">User Name:</label>
            <input type="text" name="username" required/>
            <label for="password">Password:</label>
            <input type="password" name="password" />
            <br>
            <input type="submit" name="Join">
          </form>
  </body>
</html>
